.gradle/2.2.1/taskArtifacts/cache.properties
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.idea/libraries/appcompat_v7_22_2_0.xml
.idea/libraries/support_
.idea/libraries/support_v4_22_2_0.xml
.idea/misc.xml
.idea/workspace.xml
local.properties
build/intermediates/gradle_project_sync_data.bin
